name: Stale
on:
  workflow_dispatch:
  schedule:
    - cron: 0 11 * 1-2,11-12 *
    - cron: 0 10 * 3-10 *
  issues:
    types: [closed]
  pull_request:
    types: [closed]

jobs:
  stale:
    name: Stale
    uses: KatsuteDev/workflows/.github/workflows/stale.yml@main
    if: github.repository_owner == 'KatsuteDev'
    secrets: inherit